.estimateList-div {
	margin-top: 8%;
}

.estimateList-float-right {
	float: right;
}

.estimateList-float-left {
	float: left;
}

.pagenation {
	text-align: center;
}

table {
	width: 100%;
	border-top: 2px solid #444444;
	border-collapse: collapse;
}

th, td {
	border-bottom: 2px solid #444444;
	padding: 13px;
}

.text_align_left {
	padding-left : 25px;
}

.text_align_center {
	text-align : center;
}