.preinspection-div {
    margin-top:7%;
  }

.preinspection-float-right {
    float : right;
}

.img_container {
    height: 60%;
}

table tr{
    text-align : center;
}

.wrapper {
    width: 100%;
    position: relative;
    /* background-image: url("../img/µµ¸é.JPG");
    position: absolute; */
    z-index:1;
    margin:0;
    padding:0;
    /* background-size: 150px; */
}

.grabbable {
    cursor: move; cursor: -moz-grab; cursor: -webkit-grab; cursor: grab; 
}

.grabbing {
   cursor: move; cursor: -moz-grabbing; cursor: -webkit-grabbing; cursor: grabbing;
}

.pin_div {
    position : relative;
    width: 30px;
    height: 40px;
}

.based-img {
    position: absolute;
    padding : 0;
    z-index: 2;
    margin : 0;
    display : block;
}

.pin-img {
    z-index: 99;
    width: 30px;
    height: 30px;
}

.addpin-button {
    margin-left : 30px;
}

#dialog {
    display: none;
    z-index: 9999;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 35px;
    font-weight: bold;
    text-align:right;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}