<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.CommunityMapper">
	<select id="selectCommunity" resultType="CommunityVO">
		SELECT * FROM
		stweb.stweb_communities order by community_idx DESC limit
		#{offset}, 5
	</select>
</mapper>